<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Language Translator</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <button class="theme-toggle" id="theme-toggle">Switch Theme</button>
    <h1>Sign Language Translator</h1>
    <div class="video-container">
      <img src="/video_feed" alt="Live Video Stream" />
    </div>
    <p>Developed by <b>Anushka Phogat</b> and <b>Swapnil Chhibber</b></p>
    <script>
      const themeToggleButton = document.getElementById("theme-toggle");
      const body = document.body;

      themeToggleButton.addEventListener("click", () => {
        const newTheme = body.classList.toggle("pink-theme") ? "pink" : "main";
        themeToggleButton.textContent = newTheme === "pink" ? "Switch to Main" : "Switch to Dev Mode";

        // Send the theme to the backend
        fetch('/switch_theme', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ theme: newTheme }),
        });
      });
    </script>
  </body>
</html>
